@charset "utf-8";

        #content{width: 100%;}
        #content .b_crum{text-align: center;}
        #content .sub_list{display: inline-flex;
                          font-size: 16px;
                          color:var(--samllcolor);
                          margin-top: 140px;
                          margin-bottom: 50px;
                          font-weight: 400;}
        #content .sub_list li{ position: relative;
                        padding: 5px 10px;
                        }
        #content .sub_list a{display: block;
                            padding: 5px 10px;
                           
                            }
        #content .sub_list .active{background:var(--main2);
                                  color: #fff;}
        #content .sub_list li::after{content: "";
                                display: block;
                                width: 1px;
                                height: 15px;
                                background: #636363;
                                text-align: center;
                                position: absolute; right: 0; top: 30px;
                                transform: translateY(-15px);}
        #content .sub_list li:last-child::after{display: none;}/*끝에 선 지우기*/
        #content .txt h2{font-size: 90px;
                        font-weight: 700;
                        color: var(--main2);
                        margin-bottom: 15px;}
        #content .txt{font-size: 20px;}

        /*아이스크림*/
        .content_box{display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 124px;}
        .content_box p{text-align: center;
                      padding: 25px;}
        .ice_box{width: calc(100%/4 - 22px);
                height:270px ;
                margin-bottom: 94px;
                }
        .ice_box .thum{border: 1px solid #c1c1c1;
                        border-radius: 30px;
                        text-align: center;
                        position: relative;
                        padding: 35px 0;
                        overflow: hidden;}
        .ice_box .ice_txt{position: absolute;
                        left: 50%; top: -100px;
                        transform: translateX(-50%);
                        width: 100%;
                        font-size: 18px;
                        transition: 0.3s;
                        font-size:18px;
                        font-weight: 600;}
/* 
        .ice_box .ice_txt1{color: #f9c253;}
        .ice_box .ice_txt2{} */

        .lightpink .thum img{transition: 0.3s;}
        .lightpink:hover .thum{background: #fffae5;}
        .lightpink:hover .ice_txt{top: 80px; color: #f9c253;}
        .lightpink:hover img{transform: translatey(105px);}
        
        .brown:hover .thum img{transform: 0.3s;}
        .brown:hover .thum{background: #f3d5b5;}
        .brown:hover .ice_txt{top: 80px; color: #322321;}
        .brown:hover img{transform: translateY(105px);}
        
        .chocolate:hover .thum img{transform: 0.3s;}
        .chocolate:hover .thum{background: #8a6650;}
        .chocolate:hover .ice_txt{top: 80px; color: #fff;}
        .chocolate:hover img{transform: translateY(105px);}

        .blue:hover .thum img{transform: 0.3s;}
        .blue:hover .thum{background: #8cd2ff;}
        .blue:hover .ice_txt{top: 80px; color: #9a4212;}
        .blue:hover img{transform: translateY(105px);}
        
        .darkorange:hover .thum img{transform: 0.3s;}
        .darkorange:hover .thum{background: #b15617;}
        .darkorange:hover .ice_txt{top: 80px; color: #facc6f;}
        .darkorange:hover img{transform: translateY(105px);}

        .lightbrown:hover .thum img{transform: 0.3s;}
        .lightbrown:hover .thum{background: #c0723e;}
        .lightbrown:hover .ice_txt{top: 80px; color: #fff;}
        .lightbrown:hover img{transform: translateY(105px);}

        .navy:hover .thum img{transform: 0.3s;}
        .navy:hover .thum{background: #30769e;}
        .navy:hover .ice_txt{top: 80px; color: #c0e0f4;}/*글자 여기까지 바꿈*/
        .navy:hover img{transform: translateY(105px);}

        .strawberry:hover .thum img{transform: 0.3s;}
        .strawberry:hover .thum{background: #facad7;}
        .strawberry:hover .ice_txt{top: 80px;}
        .strawberry:hover img{transform: translateY(105px);}

        .yellow:hover .thum img{transform: 0.3s;}
        .yellow:hover .thum{background: #e3b909;}
        .yellow:hover .ice_txt{top: 80px;}
        .yellow:hover img{transform: translateY(105px);}

        .purple:hover .thum img{transform: 0.3s;}
        .purple:hover .thum{background: #9e729d;}
        .purple:hover .ice_txt{top: 80px;}
        .purple:hover img{transform: translateY(105px);}

        .coffee:hover .thum img{transform: 0.3s;}
        .coffee:hover .thum{background: #cc8451;}
        .coffee:hover .ice_txt{top: 80px;}
        .coffee:hover img{transform: translateY(105px);}

        .rainbow:hover .thum img{transform: 0.3s;}
        .rainbow:hover .thum{background: #ffd483;}
        .rainbow:hover .ice_txt{top: 80px;}
        .rainbow:hover img{transform: translateY(105px);}

         /**/
        .main .b_crum .sub_list li:hover a{color: var(--main2);}

       
        